[submodule "MCServer"]
	path = MCServer
	url = https://github.com/mc-server/MCServer
    ignore = dirty
[submodule "plugins/mc-server-pvp"]
	path = plugins/mc-server-pvp
	url = git@github.com:doebi/mc-server-pvp.git
[submodule "plugins/Core"]
	path = plugins/Core
	url = git@github.com:mc-server/Core.git
[submodule "plugins/ChatLog"]
	path = plugins/ChatLog
	url = git@github.com:mc-server/ChatLog.git
[submodule "plugins/PerfPages"]
	path = plugins/PerfPages
	url = https://github.com/mc-server/PerfPages
